<div class="container">
  <div class="row" style="height: 50px"></div>
  <h1><%= t('rooms.edit.text1') %></h1>
  <p><%= t('rooms.edit.text2') %></p>
  <div class="row" style="height: 50px"></div>
  <div class="alert alert-danger" role="alert">
    <%= t('rooms.edit.text3') %>
  </div>
  <%= render 'form' %>
</div>