<div class="container">
  <div class="row" style="height: 50px"></div>
  <h1>도움말</h1>
  <p>게임을 플레이 하는 방법입니다.</p>

  <hr>
  <h3>만든사람</h3>
  <p><a href="https://github.com/YMGYM">YMGYM(요미)</a>, <a href="https://github.com/idea7654">Idea</a></p>
  <br />
  <h3>만든사람</h3>
  <p><a href="https://github.com/YMGYM">YMGYM(요미)</a>, <a href="https://github.com/idea7654">Idea</a>, Han</p>
  <br />


  <h3>규정</h3>
  <p>사실은요, 저희 엄청 허접합니다.. </p>
  <p>규정을 어겨도 제제할 방법이 없으니.. 서로서로 매너를 지켜 주세요</p>

  <br />
  <h3>네비게이션 바</h3>
  <p>여기 들어올 때 사용했던 그 버튼들 맞습니다.</p>
  <p>게임하기를 누르면 현재 참여중인 방에 들어가실 수 있습니다.</p>
  <p>방에 참여중이지 않으면 대기실로 들어갑니다.</p>


  <br />
  <h3>회원가입</h3>
  <p>아이디로 사용할 이메일과, 닉네임을 입력해 주세요.</p>
  <p>사실은 이메일 계정을 확인하지 않습니다.</p>
  <p>한 번 계정을 잃어버리면 찾을 수가 없으니 신중히 가입해주세요.</p>

  <br />
  <h3>대기실 목록</h3>
  <p>이미 만들어진 방을 보여 줍니다.</p>
  <p>방 번호를 입력하여 한 번에 참여할 수 있습니다. 방 번호는 게임방 제목 옆에 있는 수 입니다.</p>
  <p>게임 중인 방에는 참여할 수 없습니다.</p>
  <p>방 생성하기를 눌러 새 방을 만들 수 있습니다.</p>
  <p>새로 만들어진 방을 효율적으로 표시하기 위해 30초마다 새로고침 됩니다.</p>

  <br />
  <h3>대기중인 방</h3>
  <p>게임이 시작하지 않은 방 입니다.</p>
  <p>방장이 게임을 시작할 권리를 가집니다.</p>
  <p>새로 들어온 인원을 효율적으로 표시하기 위해 30초마다 새로고침 됩니다.</p>
  <p>방 나가기를 누르면 방에서 나갑니다.</p>

  <br />
  <h3>게임중인 방</h3>
  <p>노래가 플레이됩니다..</p>
  <p>채팅으로 노래의 제목을 입력하면 됩니다.</p>
  <p>정확한 제목이 아니더라도, 몇 개의 키워드가 등록되어 있습니다.</p>
  <p>제한 시간안에 정답이 나오지 않으면 넘어갑니다.</p>
  <p>모든 문제가 완료되었을 때, 가장 많은 포인트를 가진 유저가 승리합니다.</p>
</div>