<div class="container-lg center-align">
  <div class="container" style="height: 200px">

  </div>
  <h1>요미퀴즈</h1>
  <div class="container" style="height: 50px"></div>
  <p>Made By<br /> 요미귀요미, 이데아</p>

  <p>
    <a href="<%= rooms_path %>"><button type="button" class="btn btn-outline-dark btn-lg">접속하기</button></a>
  </p>

</div>