<div class="container-lg center-align">
  <div class="container" style="height: 200px">

  </div>
  <h1>요미퀴즈</h1>
  <div class="container" style="height: 50px"></div>
  <p>빠르게 듣고, 빠르게 입력!</p>

  <p>
    <a href="<%= room_index_path %>"><button type="button" class="btn btn-outline-dark btn-lg">접속하기</button></a>
  </p>

</div>