<div class="container">
  <div class="row" style="height: 50px"></div>
  <h1><%= t('rooms.new.text1') %></h1>
  <p><%= t('rooms.new.text2') %></p>
  <div class="row" style="height: 50px"></div>
  <%= render 'form' %>
</div>


<script type="text/javascript">
    function openPass() {
        var passInput = document.getElementById('room_password');
          if (passInput.disabled == true){
              passInput.disabled = false;
          }
          else {
              passInput.value = "";
              passInput.disabled = true;

          }
        }
</script>
