<div class="container">
  <div class="row" style="height: 50px"></div>
  <h1>새로운 방 만들기</h1>
  <p>방의 정보를 작성해 주세요</p>
  <div class="row" style="height: 50px"></div>
  <%= render 'form' %>
</div>

<script type="text/javascript">
    function openPass() {
        var passInput = document.getElementById('room_password');
          if (passInput.disabled == true){
              passInput.disabled = false;
          }
          else {
              passInput.value = "";
              passInput.disabled = true;

          }
        }
</script>
